

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"/>
            <div class="post_content">
                <h3>Mountain Hiking</h3>
                <p>What the fuck are you doing whatihohtih
                    idhidhdihdhdidhdihdihdhdihdi dhidhdidhid dhidh
                     dihd idhidhdihdhdidhdihdihdhdihdidhidhidhdi
                    diudihdidddhidhidhidhidhdhdhidhidhidhidh
                </p>
            </div>
        </a>
    </article>
</li>