{% extends "base.html" %}
{% load static %}

{% block title %}
    MY BLOG
{% endblock%}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
    


    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="Steve - The Creator of this Blog"/>
            <h2>STEVE'S BLOG</h2>
        </header>
        <p>Hi, I am Stevenson, and this blog is about the tech world!</p>
    </section>


    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>


    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love programming. I love to help others and that is why I am a part time.
            Also, I enjoy playing basketball to a greater extent
        </p>
        <p>
            My goal is to always keep growing. The day I will die, would be the day my brain
            becomes unfunctional. Guess what, I am still very young. 
        </p>

    </section>




    
{% endblock %}